* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #E5E5E5;
    font-size: 16px;
    font-family: "Poppins", system-ui;
}

a {
    text-decoration: none;
    color: #E5E5E5;
}

ul {
    list-style-type: none;
}

/* Designing nav */
nav {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #444; /* Add a bottom border */
    position: fixed; /* Keep nav fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.nav-container {
    background-color: #171717;
    width: 100%;
}

.top-side-nav {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 0;
}

/* Top-left-nav */
.top-left-nav a {
    display: flex;
    align-items: center;
}

.top-left-nav img {
    width: 60px;
}

.top-left-nav a h1 {
    font-size: 24px;
    font-weight: 800;
    padding-left: 10px;
}

/* Top-right-nav */
.top-right-nav ul {
    display: flex;
    align-items: center;
}

.top-right-nav ul li {
    padding-left: 30px;
}

.github-logo {
    font-size: 34px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px; /* Adjust for fixed navbar height */
}

.form-container {
    background: #1e1e1e; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff; 
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #333;
    color: #ffffff;
    transition: border-color 0.3s;
}

input::placeholder {
    color: #aaa; 
}

input:focus {
    border-color: #6200ea; 
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #6200ea; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3; 
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #bb86fc; 
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    color: #ccc; 
}

p a {
    color: #bb86fc; 
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
